*.pyc
*.bak


CvGameCoreDLL/x64/lin/Debug/*
!CvGameCoreDLL/x64/Debug/.lock

CvGameCoreDLL/x64/lin/Release/*
!CvGameCoreDLL/x64/lin/Release/.lock

CvGameCoreDLL/x64/lin/Release-light/*
!CvGameCoreDLL/x64/lin/Release-light/.lock

CvGameCoreDLL/x64/lin/Release-symbols/*
!CvGameCoreDLL/x64/lin/Release-symbols/.lock


CvGameCoreDLL/x64/win/Debug/*
!CvGameCoreDLL/x64/win/Debug/.lock

CvGameCoreDLL/x64/win/Release/*
!CvGameCoreDLL/x64/win/Release/.lock

CvGameCoreDLL/x64/win/Release-light/*
!CvGameCoreDLL/x64/win/Release-light/.lock

CvGameCoreDLL/x64/win/Release-symbols/*
!CvGameCoreDLL/x64/win/Release-symbols/.lock


Mods/RealismInvictus/CvGameCoreDLL/x64/lin/Debug/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/lin/Debug/.lock

Mods/RealismInvictus/CvGameCoreDLL/x64/lin/Release/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/lin/Release/.lock

Mods/RealismInvictus/CvGameCoreDLL/x64/lin/Release-light/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/lin/Release-light/.lock

Mods/RealismInvictus/CvGameCoreDLL/x64/lin/Release-symbols/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/lin/Release-symbols/.lock


Mods/RealismInvictus/CvGameCoreDLL/x64/win/Debug/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/win/Debug/.lock

Mods/RealismInvictus/CvGameCoreDLL/x64/win/Release/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/win/Release/.lock

Mods/RealismInvictus/CvGameCoreDLL/x64/win/Release-light/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/win/Release-light/.lock

Mods/RealismInvictus/CvGameCoreDLL/x64/win/Release-symbols/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/win/Release-symbols/.lock

