*.pyc
*.bak


CvGameCoreDLL/x64/Debug/*
!CvGameCoreDLL/x64/Debug/.lock

CvGameCoreDLL/x64/Release/*
!CvGameCoreDLL/x64/Release/.lock

CvGameCoreDLL/x64/Release-light/*
!CvGameCoreDLL/x64/Release-light/.lock

CvGameCoreDLL/x64/Release-symbols/*
!CvGameCoreDLL/x64/Release-symbols/.lock


Mods/RealismInvictus/CvGameCoreDLL/x64/Debug/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/Debug/.lock

Mods/RealismInvictus/CvGameCoreDLL/x64/Release/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/Release/.lock

Mods/RealismInvictus/CvGameCoreDLL/x64/Release-light/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/Release-light/.lock

Mods/RealismInvictus/CvGameCoreDLL/x64/Release-symbols/*
!Mods/RealismInvictus/CvGameCoreDLL/x64/Release-symbols/.lock

